<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Type the family code<br>
    <input type="text" id="input" ><br>
    <button onclick="join()">join</button>
    <script>
        function join(){
            document.location.href = "/family?code="+document.getElementById("input").value

        }
    </script>
</body>
</html>